* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calendar-div {
    height: 100vh;

    .calendar {
        height: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: fixed;
    }
}