@import url('https://fonts.googleapis.com/css?family=Poppins');
 :root {
     --background-color: #b1d2eaa9;
     --dark-bg-color: #333;
     --box-shadow: rgba(0, 0, 0, 0.16) 0 0 0 0, rgba(0, 0, 0, 0.06) 0 0 0 1rem;
     --font-family: "Poppins", sans-serif;
}
 :root.dark {
     --background-color: var(--dark-bg-color);
}
 :root.color main {
     color: white 
}
 :root.invert .logo #logo {
     mix-blend-mode: difference;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     background-color: rgba(255, 178, 178, 0.681);
     height: 100vh;
     width: 100vw;
     display: flex;
}
 aside {
     margin-left: 5rem;
     padding-top: 3rem;
     height: 100%;
     max-width: 10rem;
     background: rgba(112, 121, 248, 0.55);
     display: flex;
     flex-flow: column;
     border-radius: 0 2rem 2rem 0;
}
 .aside-element {
     background-color: #cb81ff;
     position: absolute;
     z-index: -3;
     left: 4rem;
     height: 100%;
     width: 3rem;
     border-radius: 0 2rem 0 0;
}
 a img {
     width: 50px;
     height: 50px;
 
}
 .tooltip {
     font-size: 1.3rem;
}
 main {

     height: 100%;
     width: 80%;
     margin: auto;
     padding: 0 3rem;
}
 ul li {
     list-style: none;
}
 ul li .bi {
     font-size: 5rem;
     line-height: 5rem;
     color: #262626;
     transition: .5s;
}
 ul li a {
     position: relative;
     display: block;
     margin-top: 6rem;
     width: 6rem;
     height: 6rem;
     background-color: #fff;
     text-align: center;
     transform: perspective(10rem) rotate(-30deg) skew(25deg) translate(0, 0);
     transition: .5s;
     box-shadow: -2rem 2rem 1rem rgb(0, 0, 0, 0.5);
}
 ul li:first-child a {
     background-color: #000000;
}
 ul li a::before { /* layer laterale*/
     content: "";
     position: absolute;
     top: 1rem;
     left: -2rem;
     height: 100%;
     width: 2rem;
     background: #8d8bff;
     transition: .6s;
     transform: rotate(0deg) skewY(-45deg);
}
 ul li a::after {  /* layer frontale*/
     content: "";
     position: absolute;
     top: 6rem;
     left: -1rem;
     height: 2rem;
     width: 100%;
     background: #b1b1b1;
     transition: .5s;
     transform: rotate(0deg) skewX(-45deg);
}
 ul li:hover i {
     color: rgb(56, 79, 110);
}
 ul li a:hover {
     transform: perspective(1em) rotate(-30deg) skew(25deg) translate(2rem, -2rem);
     box-shadow: -4rem 3rem 3rem rgb(0, 0, 0, 0.5);
}
 ul li:hover:nth-child(1) a {
     background: #000000;
}
 ul li:hover:nth-child(1) a:before {
     background: #cb81ff;
}
 ul li:hover:nth-child(1) a:after {
     background: #a2c3ff;
}
 ul li:hover:nth-child(2) a:before {
     background: #cb81ff;
}
 ul li:hover:nth-child(2) a:after {
     background: #a2c3ff;
}
 ul li:hover:nth-child(3) a:before {
     background: #cb81ff;
}
 ul li:hover:nth-child(3) a:after {
     background: #b4effc;
}
 ul li:hover:nth-child(4) a:before {
     background: #cb81ff;
}
 ul li:hover:nth-child(4) a:after {
     background: #b4effc;
}
 body.dark {
     background-color: var(--dark-bg-color);
}
 body {
     background-color: var(--background-color);
}
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
}
 input:checked+.slider {
     background-color: #7f7ff1;
}
 input:checked+.slider:before {
     transform: translateX(2.2rem);
}
 .slider.round {
     border-radius: 3rem;
}
 .slider.round:before {
     border-radius: 50%;
}
 .moon {
     font-size: 1.7rem;
     height: 100%;
}
 label {
     display: flex;
}
 label .bi {
     font-size: 2.4rem;
     text-align: center;
     cursor: pointer;
     background-color: rgb(60, 79, 116);
     width: 4rem;
     height: 4rem;
     border-radius: 4rem;
     color: white;
}
 label .bi:hover {
     transform: scale(1.2);
     transition: 0.4s;
}
 main p {
     font-size: 3rem;
     margin-left: 2rem;
}
 .logo {
     text-align: center;
}
 .logo #logo {
     margin-top: 2rem;
     border-radius: 10rem;
     filter: invert();
     mix-blend-mode: multiply;
     width: 10rem;
     height: 10rem;
}
 .containermain {
     display: flex;
     flex-flow: column;
}
 label {
     position: absolute;
     top: 1rem;
     left: 8rem;
}

/* Calendar */
.container-calendar {
    height: 100vh;
    display: none;
  }
  .container-calendar .calendar {
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
  }
  /* Calendar End */

/* Charts */
.piechart-container {
  margin: auto;
  width: 90%;
  height: 40rem;
}

.barchart-container {
  margin: 8rem auto;
  width: 90%;
  height: 50rem;
}

#chart-displayer {
  display: none;

} 

/* Charts End */

/*table*/
.table-first-line {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
#table {
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 50px;
  margin-bottom: 50px;
}
/* tbody {
    overflow-y: scroll;
    display: block;
    height: 400px;
  } */
tr {
border-bottom: 1px solid white;
border-collapse: collapse;
}
td {
padding: 20px;
color: var(--text-color);
}
.table-select {
margin: 20px 0;
font-size: large;
}
.table-select {
  font-size: 14px;
  background-color: transparent;
  border-color: white;
  color: var(--text-color);
}


#table-export {
  font-size: 14px;
  border-radius: 5px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid white;
  color: var(--text-color);
  margin: 20px 0;
  white-space: nowrap;
}
#table-export:hover {
cursor: pointer;
}

option {
    background-color: #b1d2eaa9 ;
}
/* end table */

@media screen and (max-width: 768px) {
     .aside-element {
         display: none;
    }
     aside {
         margin-left: 0;
    }
     ul li:first-child {
         display: none;
    }
     label {
         position: absolute;
         top: 1rem;
         left: 0;
    }
}
